* {
  background-color: Linen;
  border-width: 2px;
  border-color: LavenderBlush;
}
#uselessbtn {
  background-color: LightSteelBlue;

}
.nav {
  border-width: 1px;
  border-radius: 5px;
  padding: 10px 10px;
  text-align: center;
}
