* {
  background-color: Linen;
  border-width: 2px;
  border-color: LavenderBlush;
}
#uselessbtn {
  background-color: LightSteelBlue;
  border-width: 1px;
  border-radius: 5px;
  text-align: center;
}
.nav {
  border-width: 1px;
  background-color: MistyRose;
  padding: 10px 5px;
  text-align: center;
}
.contentsbtn {
  background-color: MistyRose;
  padding: 6px 3px;
  border-radius: 10px
}
ul {
  list-style-type: none;
}
