* {
  background-color: PowderBlue;
}
#uselessbtn {
  background-color: LightSteelBlue;
  border-width: 1px;
  border-radius: 5px;
  text-align: center;
}
.nav {
  border-width: 0px;
  background-color: PapayaWhip;
  padding: 10px 5px;
  text-align: center;
}
.contentsbtn {
  background-color: PapayaWHip;
  padding: 6px 3px;
  border-width: 1px;
  border-radius: 10px
}
.list-s {
  list-style-type: none;
}
.list {
  background-color: PeachPuff;
  display: inline;
  list-style-type: inherit;
}
